<%= form_for @user, method: :patch do |f| %>
 
  <p><%= f.label :avatar %></p>
  <%= f.file_field :avatar %><br />

  <p><%= f.label "First name" %></p>
  <%= f.text_field :firstname %><br />

  <p><%= f.label "Last name" %></p>
  <%= f.text_field :lastname %><br />
 
 <p><%= f.label "E-mail" %></p>
  <%= f.text_field :email %><br />

 <p><%= f.label "Password" %></p>
  <%= f.password_field :password %><br />

  <p><%= f.label "Phone" %></p>
  <%= f.text_field :phone %><br />

  <p><%= f.label "Age" %></p>
  <%= f.text_field :age %><br />

<p><%= f.label "Country" %></p>
  <%= f.text_field :country %><br />

  <p><%= f.label "City" %></p>
  <%= f.text_field :city %><br />

  <p><%= f.label "streat" %></p>
  <%= f.text_field :street %><br />
  
  <p><%= f.label "Adres" %></p>
  <%= f.text_field :adres %><br />

  <p><%= f.label "Link" %></p>
  <%= f.text_field :link %><br />

  <p><%= f.submit "Save" %></p>
<% end %>