<head>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<div class="center">
<p><%= link_to "Home", root_path %> | <%= link_to "Sign up", new_user_path %></p>

<%= form_for :users, url:loginresult_path do |f| %>
 <p><%= f.label "E-mail" %></p>
  <%= f.text_field :email %><br />

 <p><%= f.label "Password" %></p>
  <%= f.password_field :password %><br />

  <p><%= f.submit "Login" %></p>
<% end %>
</div>