<p><%= link_to "Home", root_path %></p>


<h1>Hello, <%= @user.firstname %>!</h1>
<p> Here is your params</p>
<%= image_tag @user.avatar.url(:medium) %><br />
<%= @user.firstname %></br>
<%= @user.lastname %></br>
<%= @user.gender %></br>
+<%= @user.phone %></br>
<%= @user.age %></br>
<%= @user.country %></br>
<%= @user.city %></br>
<%= @user.street %></br>
<%= @user.adres %></br>
<%= @user.link %></br>
<p><%= link_to "Edit Profile", edit_user_path %></p>